/*
SITE: nadastrom.com
AUTHOR: meghan louttit
VER: 2
*/

html, body{
  margin:0;
  padding:0;
  width:100%;
}
html.home, body.home{
  height:100%;
  overflow:hidden;
}
body{
  background-color:#3c3c3c;
}
.hidden{
  display:none;
}
body a{
  text-decoration:none;
  font-weight:bold;
  color:#DEBA60;
}
body a:hover{
  color:#F5E15C;
  text-decoration: none;
}
.container{
  width:100%;
  height:100%;
}
.container ul{
  list-style:none;
  margin:0;
  padding:0;
}
.clearfix:after{
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix{
  display:inline-block;
}

/*animations*/
.opacity{
  -webkit-transition:opacity .2s ease-in;
  -moz-transition:opacity .2s ease-in;
  -ms-transition:opacity .2s ease-in;
  -o-transition:opacity .2s ease-in;
  transition:opacity .2s ease-in;
}
.color{
  -webkit-transition:color .3s ease-in;
  -moz-transition:color .3s ease-in;
  -ms-transition:color .3s ease-in;
  -o-transition:color .3s ease-in;
  transition:color .3s ease-in;
}
.bg{
  -webkit-transition:background .3s ease-in;
  -moz-transition:background .3s ease-in;
  -ms-transition:background .3s ease-in;
  -o-transition:background .3s ease-in;
  transition:background .3s ease-in;
}
.yeti{
  width: 50px;
  position: fixed;
  bottom: 0;
  left: 0;
}
.yeti img{
  width:100%;
  filter: grayscale(100%);
}

/*cover image*/
.container #bg-image{
  width:100%;
  height:100vh;
  position:fixed;
  top:0;
  left:0;
  z-index:99;
}
.container #bg-image img{}
.container .main{
  z-index:100;
  position:relative;
  width:100%;
  height:100%;
  /*margin:35% auto 0 auto;*/
}
.inside .container .main{
  height:auto;
}

/*top & inside header*/
.container header{
  width: 100%;
  margin: 0 auto;
  position: fixed;
  top:45%;
  z-index: 20000;
}
.mobile .container header{
  top:35%;
}
.inside .container header{
  position:relative;
}
.container header #banner{
  width:100%;
  position:relative;
}
.container header #banner img{
  width:70%;
  margin:0 auto;
  display:block;
}

/*header news item*/
.newsitem{
  width:70%;
  max-width:430px;
  margin:30px auto 0 auto;
  background:rgba(100,100,100,.6);
  border-radius:5px;
  padding:15px;
}
.mobile .newsitem{
  max-width:none;
}
.newsitem:hover{
  background:rgba(100,100,100,1);
}
.newsitem img{
  width:13%;
  margin-right:15px;
  float:left;
}
.mobile .newsitem img{
  width:25%;
  margin-right:20px;
}
.newsitem span{
  font-family:"Arial Black",arial,helvetica,sans-serif;
  font-size:23px;
  line-height:27px;
}
.mobile .newsitem span{
  font-size: 42px;
  line-height: 53px;
}

/*top & inside nav*/
nav#main{
  width:70%;
  margin:30px auto 0 auto;
  height:45px;
}
nav ul.nav-list{
  width:100%;
  margin:0 auto;
}
nav ul.nav-list li{
  height:0;
}
nav ul.nav-list li a{
  display:block;
  width:18.2%;
  margin-right:2%;
  margin-bottom:2%;
  float:left;
  color:#fff;
  text-align:center;
  font-family:"Gill Sans","Arial Black",arial,helvetica,sans-serif;
  cursor:pointer;
  padding: 12px 0;
  border-radius: 5px;
  background: rgba(100,100,100,.6);
  min-width:100px;
}
.mobile nav#main{
  margin:30px auto 0 auto;
  width:50%;
  height:auto;
}
.mobile nav#main ul.nav-list li a{
  width:100%;
  padding:20px 0;
}
nav ul.nav-list li:last-child a{
  margin-right:0;
}
nav ul.nav-list li a{
  color:#fff;
  font-size:18px;
  font-weight:bold;
  text-transform:uppercase;
  text-decoration:none;
  margin-bottom:2%;
/*  display: block;
  margin: 0 auto;*/
}
.mobile nav#main ul.nav-list li a{
  font-size:25px;
  line-height:25px;
}
nav ul.nav-list li a:hover{
  background:rgba(100,100,100,1);
  color:#c563d3;
}
.container nav#inside-top ul li:hover a{
  /*color:#f5e15c;*/
  /*color:#ba8f3b;*/
  color:#c563d3;
}
.container nav#inside-top img{
  margin: 0 auto 20px auto;
  width: 400px;
  display: block;
}
.container nav#inside-top{
  /*position:fixed;*/
  width:100%;
  z-index:200;
  padding-top:22px;
}
.container nav#inside-top ul{
  max-width:600px;
}
.container nav#inside-top ul li{
  color:#999;
  border-radius: 0;
  background: none;
}
.container nav#inside-top ul li a{
  color:#999;
}
.container nav#inside-top ul li.active a{
  color:#DEBA60;
  /*color:#c563d3;*/
}

/*content*/
.inside .content{
/*  width:100%;
  height:100%;
  background:#000;
  position:absolute;
  bottom:0;*/
  padding-top:30px;
  width:80%;
  max-width:600px;
  margin:0 auto;
}
.mobile .inside .content{
  width:auto;
  max-width: none;
  margin-left:66px;
  margin-right:66px;
}
.inside section.bbq-item{
  padding-bottom: 30px;
  margin-bottom: 60px;
  border-bottom: 5px solid #000;
}
.inside .content section h2{
  color: #fff;
  font-family: "Gill Sans","Arial Black",arial,helvetica,sans-serif;
  font-size: 28px;
  line-height: 35px;
  margin-bottom: 18px;
  border-top: 1px solid rgba(255,255,255,.7);
  padding-top: 10px;
}
.content section{}
.content section p{
  font-family: 'Lucida Bright',georgia,"times new roman",serif;
  font-size: 17px;
  line-height: 25px;
  font-weight:300;
  color: #d3d3d3;
  margin: 18px 0;
}
.content section p strong{
  font-family:"Gill Sans","Arial Black",arial,helvetica,sans-serif;
}
.content section ul{}
.inside .content section ul li{
    padding-bottom:20px;
    border-bottom:1px solid #666;
    margin-bottom:25px;
}
.inside .content section ul li:last-child{
  border-bottom:none;
}
.inside .content section ul li:hover a h3{
  text-decoration:underline;
}
.inside .content section ul li a{}
.inside .content section li a h6{
  font-family: arial,helvetica,sans-serif;
  font-weight: normal;
  font-size: 11px;
  text-transform: uppercase;
  line-height: 16px;
}
.content section li a h3{
  font-family: "Lucida Bright",georgia,"times new roman",serif;
  font-size: 20px;
  letter-spacing: 0.03em;
  line-height: 31px;
  color:#DEBA60;
}
.content section li a time{
  color:#999;
  font-family: georiga,"times new roman",serif;
  font-size: 15px;
  line-height: 19px;
}
.content .inside-photo{
  width:100%;
  margin-bottom:12px;
}
.content .inside-photo img{
  width:100%;
  margin:0;
  display:inline-block;
}
.content .inside-photo .credit{
  font-family: arial,helvetica,sans-serif;
  font-size:10px;
  text-transform: uppercase;
  text-align: right;
  color: #595959;
  display: inline-block;
  width:100%;
}

/*about*/
#contact{}
#contact p{
  font-family: arial,helvetica,sans-serif;
  font-size: 13px;
  font-weight: bold;
  margin:0;
  text-transform: uppercase;
}
#contact p a{
  text-transform: none;
  font-size:16px;
}

/*radio*/
.radio{
  z-index: 100000013;
  position: absolute;
  top: 2%;
  left: 1%;
  width: 70%;
}
.radio .yeti-icon{
  width:40px;
  float:left;
  margin-right:15px;
}
.radio .info{
  width:300px;
  float:left;
}
.radio .info nav{
  margin-top:3px;
}
.radio .info h3,
.radio .info h3 a{
  margin:2px 0 0 0;
  font-style:italic;
  font-size:16px;
  line-height:21px;
  color:#000;
  text-decoration: none;
}
.radio .info h3 a:before{
  content:"Now Playing: ";
}
.radio .info nav i{
  background-image:url(../images/radio-controls-sprite.png);
  background-repeat:no-repeat;
  overflow:hidden;
  display:inline-block;
  cursor:pointer;
  margin-right:4px;
}
.radio .info nav i.prev{
  width:28px;
  height:22px;
  background-position:-40px 0;
}
.radio .info nav i.next{
  width:28px;
  height:22px;
  background-position:-66px 0;
}
.radio .info nav i.playpause,
.radio .info nav i.playpause.pause:hover{
  width:19px;
  height:22px;
  background-position:0 0;
}
.radio .info nav i.playpause:hover,
.radio .info nav i.playpause.pause{
  background-position:-20px 0;
}

/*social*/
#social{
  width:107px;
  position:absolute;
  top:22px;
  left:30px;
  z-index: 100003;
}
#social ul{
  width:100%;
}
#social ul li{
  float:left;
  margin-right:12px;
  opacity:1;
  width:26px;
  opacity:.7;
}
#social ul li:last-child{
  margin-right:0;
}
#social ul li img{
  margin:0 auto;
}
#social ul li:hover{
  opacity:1;
}

/*music*/
table.bit-events{
  font-family:arial,helvetica,sans-serif!important;
  text-transform: uppercase;
}
table.bit-events td{
  text-transform: none!important;
}

/*news*/
#nadastromNewsFeed{
  margin-top:40px;
}
#nadastromNewsFeed .body{
  padding-bottom: 20px;
  margin-bottom: 25px;
  border-bottom: 1px solid #666;
  font-family:arial,helvetica,sans-serif;
  font-size:14px;
  color:#d3d3d3;
  width:100%;
  position:relative;
}
#nadastromNewsFeed .body time{
  position:absolute;
  top:0;
  width:35%;
  display:inline-block;
  text-transform: uppercase;
  font-size: 10px;
  color: #999;
}
#nadastromNewsFeed .body time .caption{
  position:relative;
  top:20px;
}
#nadastromNewsFeed .body time .caption p,
#nadastromNewsFeed .body time .caption p em{
  font-family:arial,helvetica,sans-serif;
  font-size:14px;
  line-height:19px;
  color:#d3d3d3;
  text-transform: none;
  font-style:normal;
}
#nadastromNewsFeed .body img,
#nadastromNewsFeed .body .video-player{
  width:60%;
  margin-left:40%;
}
#nadastromNewsFeed .body .video-player iframe{
  width:100%;
}

.inside .content section p.refer{
  font-family:"Gill Sans","Arial Black",arial,helvetica,sans-serif;
  font-size:14px;
  text-transform: uppercase;
  text-align:right;
}
#nadastromNewsFeed .body.link a.title{
  font-size:16px;
  line-height:22px;
}
#nadastromNewsFeed .body.link .desc{
  width:60%;
  margin-left:40%;
}
#nadastromNewsFeed .body.link .desc blockquote{
  background:none;
  border:none;
  position:relative;
  padding:0;
  font-family: georgia,"times new roman"serif;
  font-size: 14px;
  line-height: 19px;
  color: #d3d3d3;
  text-transform: none;
  font-style: normal;
}
#nadastromNewsFeed .body.link .desc blockquote:before{
  content:'"';
  position: absolute;
  left: -30px;
  font-size: 60px;
  color: #fff;
  top: 1px;
  line-height: 54px;
}

/* mobile styles */
.mobile .container header #banner img{
  width:90%;
  margin:0 auto;
  display:block;
}