/*
SITE: nadastrom.com
AUTHOR: meghan louttit
VER: 2
*/
html, body{
  margin:0;
  padding:0;
  height:100%;
  width:100%;
}
html{
  overflow:hidden;
}
.hide{
  display:none;
}
.container{
  width:100%;
  height:100%;
}
.container ul{
  list-style:none;
  margin:0;
  padding:0;
}
/*.clearfix:after{
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix{
  display:inline-block;
}*/

/*animations*/
.opacity{
  -webkit-transition:opacity .2s ease-in;
  -moz-transition:opacity .2s ease-in;
  -ms-transition:opacity .2s ease-in;
  -o-transition:opacity .2s ease-in;
  transition:opacity .2s ease-in;
}
.color{
  -webkit-transition:color .3s ease-in;
  -moz-transition:color .3s ease-in;
  -ms-transition:color .3s ease-in;
  -o-transition:color .3s ease-in;
  transition:color .3s ease-in;
}
.yeti{
  width: 50px;
  position: fixed;
  bottom: 0;
  left: 0;
}
.yeti img{
  width:100%;
  filter: grayscale(100%);
}

/*cover image*/
.container #bg-image{
  width:100%;
  height:100vh;
  position:fixed;
  top:0;
  left:0;
  z-index:99;
}
.container #bg-image img{}
.container .main{
  z-index:100;
  position:relative;
  width:100%;
  height:100%;
  /*margin:35% auto 0 auto;*/
}

/*top & inside header*/
.container header{
  width: 100%;
  margin: 0 auto;
  position: fixed;
  top:55%;
  z-index: 20000;
}
.container header #banner{
  width:100%;
  position:relative;
}
.container header #banner img{
  width:70%;
  margin:0 auto;
}
/*.container header ul.nav-list{
  width:90%;
  height:32px;
  margin:20px auto;
}
.container header ul.nav-list li{
  float:left;
  width:15%;
  padding:10px 0;
  cursor:pointer;
  text-align:center;
  text-transform:uppercase;
  font-family:impact,helvetica,sans-serif;
  font-size:22px;
  line-height:32px;
  color:#000;
  -webkit-transition:color .2s ease-in;
  -moz-transition:color .2s ease-in;
  -ms-transition:color .2s ease-in;
  -o-transition:color .2s ease-in;
  transition:color .2s ease-in;
}
.container header ul.nav-list li#banner{
  width:40%;
  padding:0;
  opacity:1;
}
.container header ul.nav-list li:hover,
.container header ul.nav-list li#banner:hover{
  color:teal;
  opacity:1;
}
.container header ul.nav-list li img{
  width:85%;
  margin:0 auto;
}*/

/*top & inside nav*/
nav#main{
  margin-top:30px;
  height:30px;
}
nav ul.nav-list{
  width:70%;
  margin:0 auto;
}
nav ul.nav-list li{
  width:20%;
  float:left;
  color:#fff;
  text-align:center;
  font-family:sans-serif;
  cursor:pointer;
}
nav ul.nav-list li a{
  padding: 12px 20px;
  border-radius: 5px;
  background: #000;
  color:#fff;
  font-family:sans-serif;
  font-size:18px;
  font-weight:bold;
  text-transform:uppercase;
  text-decoration:none;
  width: 50%;
  display: block;
  margin: 0 auto;
}
nav ul.nav-list a:hover{
  color:#f5e15c;
}
.container nav#inside-top{
  position:fixed;
  width:100%;
  z-index:200;
}

/*content*/
.content{
/*  width:100%;
  height:100%;
  background:#000;
  position:absolute;
  bottom:0;*/
}
.content section{
}

/*radio*/
.radio{
  z-index: 100000013;
  position: absolute;
  top: 2%;
  left: 1%;
  width: 70%;
}
.radio .yeti-icon{
  width:40px;
  float:left;
  margin-right:15px;
}
.radio .info{
  width:300px;
  float:left;
}
.radio .info nav{
  margin-top:3px;
}
.radio .info h3,
.radio .info h3 a{
  margin:2px 0 0 0;
  font-style:italic;
  font-size:16px;
  line-height:21px;
  color:#000;
  text-decoration: none;
}
.radio .info h3 a:before{
  content:"Now Playing: ";
}
.radio .info nav i{
  background-image:url(../images/radio-controls-sprite.png);
  background-repeat:no-repeat;
  overflow:hidden;
  display:inline-block;
  cursor:pointer;
  margin-right:4px;
}
.radio .info nav i.prev{
  width:28px;
  height:22px;
  background-position:-40px 0;
}
.radio .info nav i.next{
  width:28px;
  height:22px;
  background-position:-66px 0;
}
.radio .info nav i.playpause,
.radio .info nav i.playpause.pause:hover{
  width:19px;
  height:22px;
  background-position:0 0;
}
.radio .info nav i.playpause:hover,
.radio .info nav i.playpause.pause{
  background-position:-20px 0;
}

/*social*/
#social{
  width:137px;
  position:fixed;
  top:2%;
  right:1%;
}
#social ul{
  width:100%;
}
#social ul li{
  float:left;
  margin-right:12px;
  opacity:1;
  width:26px;
}
#social ul li:last-child{
  margin-right:0;
}
#social ul li img{
  margin:0 auto;
}
#social ul li:hover{
  opacity:.7;
}

/*news carousel*/
#featured-news{
  width:100%;
  position:fixed;
  bottom:0;
  background:#000;
  height:60px;
}
#featured-news .body{
  opacity:0;
  position:absolute;
  top:10px;
  width:100%;
  text-align:center;
  -webkit-transition:opacity .4s ease-in;
  -moz-transition:opacity .4s ease-in;
  -ms-transition:opacity .4s ease-in;
  -o-transition:opacity .4s ease-in;
  transition:opacity .4s ease-in;
}
#featured-news .body.active-item{
  opacity:1;
}
#featured-news .body time{
  text-transform: uppercase;
  font-family:'helvetica nueu',helvetica,arial,sans-serif;
  color:#f5e15c;
  display:inline-block;
  margin-right:10px;
  font-size:11px;
  line-height:40px;
}
#featured-news #nadastromNewsFeed .body a{
  font-family:georgia,"times new roman",serif;
  font-size:17px;
  line-height:40px;
  color:#fff;
  font-style:italic;
}
#featured-news span.arrow{
  font-family:'helvetica nueu',helvetica,arial,sans-serif;
  color:#666;
  position:absolute;
  top:10px;
  line-height:40px;
  display:block;
  cursor:pointer;
  z-index:100000000;
  width:30px;
  height:30px;
}
#featured-news span.arrow img{
  display:inline-block;
  width:30px;
  height:30px;
}
#featured-news span.arrow.prev{
  left:30px;
}
#featured-news span.arrow.prev i.arrow-left{}
#featured-news span.arrow.next{
  right:30px;
}
#featured-news span.arrow.next i.arrow-right{}

/*footer*/
/*.container footer{
  width:50px;
  height:100%;
  background:#000;
  position:fixed;
  z-index:10000000;
}*/
/*.container footer{
  position:relative;
  bottom:0;
  z-index:101;
}
.container footer > div{
  background:rgba(0,0,0,.7);
}
.container footer:after{
  content: "";
  display: table;
  clear: both;
}
.container footer h3{
  font-family:impact,helvetica,sans-serif;
  text-transform:uppercase;
  font-weight:bold;
  color:#333;
  font-size:16px;
  line-height:22px;
}
.container footer h4{
  font-family:helvetica,arial,sans-serif;
  text-transform: uppercase;
  font-size:16px;
  line-height:22px;
  font-weight:normal;
  color:#fff;
}
.container footer #contact-box{
  position:absolute;
  width:40%;
}
.container footer #contact-box ul li{
  font-family:helvetica,arial,sans-serif;
  font-size:13px;
  line-height:18px;
  color:#fff;
}
.container footer #contact-box ul li a{
  color:teal;
  text-decoration: none;
}
.container footer #contact-box ul li a:hover{
  text-decoration: underline;
}
.container footer .yeti{
  position:absolute;
  left:40%;
  width:20%;
}
.container footer .yeti img{
  display:block;
  width:40%;
  margin:auto;
}
.container footer #radio-box{
  position:absolute;
  left:60%;
  width:40%;
}*/